Repository fgiorgetti/github-playground, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, docs, backend

Adding sample fake code
  backend/be-code.py
  src/frontend/fe-code.py
Labels: frontend, backend

Added permissions to state issues and prs workflow
  .github/workflows/stale.yml
Labels: none

Updated codeowners
  .github/CODEOWNERS
Labels: none

Backend change 1
  backend/be-code.py
Labels: backend

Updated codeowners
  .github/CODEOWNERS
Labels: none

Including a FE change
  src/frontend/fe-code.py
Labels: frontend

FE and BE changes
  backend/be-code.py
  src/frontend/fe-code.py
Labels: frontend, backend

Adding new file
  new-file-change-2
Labels: none

Updated stale and close messages
  .github/workflows/stale.yml
Labels: none

Update be-code.py
  backend/be-code.py
Labels: backend

.github/labeler.yml:

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/frontend/**'
      - 'frontend/**'
docs:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/backend/**'
      - 'backend/**'
